<table class="uiInfoTable">
    <tbody>
        <tr class="dataRow">
            <th class="label"><label for="{{#location__view}}{{id}}{{/location__view}}">{{{location_label}}}:</label></th>
            <td class="data">
                {{{location}}}
            </td>
        </tr>
        <tr class="spacer"><td colspan="2"><hr /></td></tr>
        <tr class="dataRow">
            <th class="label"><label for="locDem-ageMin">{{{age_label}}}:</label></th>
            <td class="data">
                {{{age}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label labelText"><label for="locDem-ageMin">{{{sex_label}}}:</label></th>
            <td class="data">
                {{{sex}}}
            </td>
        </tr>
    </tbody>
</table>