<table class="uiInfoTable">
    <tbody>
        <tr class="dataRow">
            <th class="label labelText"><label for="{{#education__view}}{{id}}{{/education__view}}">{{{education_label}}}:</label></th>
            <td class="data">
                <table class="education"><tbody>
                    <tr>
                        <td class="education-all">{{{all}}}</td>
                        <td>{{{alumni}}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {{{college}}}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{{hs}}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{{college_select}}}</td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label"><label for="{{#workplace__view}}{{id}}{{/workplace__view}}">{{{workplace_label}}}:</label></th>
            <td class="data">
                {{{workplace}}}
            </td>
        </tr>
    </tbody>
</table>