<table class="contractEditor">
    <tbody>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#io_name__view}}{{id}}{{/io_name__view}}">
                {{{io_name_label}}}</label></th>
            <td class="data">
                {{{io_name}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#act_id__view}}{{id}}{{/act_id__view}}">
                {{{act_id_label}}}</label></th>
            <td class="data">
                {{{act_id}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#io_number__view}}{{id}}{{/io_number__view}}">
                {{{io_number_label}}}</label></th>
            <td class="data">
                {{{io_number}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#advertiser__view}}{{id}}{{/advertiser__view}}">
                {{{advertiser_label}}}</label></th>
            <td class="data">
                {{{advertiser}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#vertical__view}}{{id}}{{/vertical__view}}">
                {{{vertical_label}}}</label></th>
            <td class="data">
                {{{vertical}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#subvertical__view}}{{id}}{{/subvertical__view}}">
                {{{subvertical_label}}}</label></th>
            <td class="data">
                {{{subvertical}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#mdc__view}}{{id}}{{/mdc__view}}">
                {{{mdc_label}}}</label></th>
            <td class="data">
                {{{mdc}}}
            </td>
        </tr>

        <!-- <tr class="spacer"><td colspan="2"><hr /></td></tr> -->

    </tbody>
</table>
