/**
* Copyright 2011 Facebook, Inc.
*
* You are hereby granted a non-exclusive, worldwide, royalty-free license to
* use, copy, modify, and distribute this software in source code or binary
* form for use in connection with the web services and APIs provided by
* Facebook.
*
* As with any software that integrates with the Facebook platform, your use
* of this software is subject to the Facebook Developer Principles and
* Policies [http://developers.facebook.com/policy/]. This copyright notice
* shall be included in all copies or substantial portions of the software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
* DEALINGS IN THE SOFTWARE.
*
*
*/

.contractEditor {
    border-top: 1px solid #999;
}

.contractEditor-date {
    width: 75px;
    display: inline-block;
}

.contractEditor-time {
    width: 75px;
    display: inline-block;
}

.contractEditor-sum {
    margin: 0;
    width: 68px;
}

.contractEditor-date .ufb-typeahead-view {
    width: 170px;
}

.contractEditor .data {
    width: 150px;
    vertical-align: bottom;
}

.contractEditor table {
    border-collapse: collapse;
}

.contractEditor td {
    padding: 0 10px 2px 0;
    margin: 0;
}

.contractEditor .label {
  text-align: right;
  padding-right: 0.5em;
  padding-top: 0px;
  width: 120px;
  line-height: 16px;
  vertical-align: bottom;
}
