<table class="contractEditor">
    <tbody>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#agency__view}}{{id}}{{/agency__view}}">
                {{{agency_label}}}</label></th>
            <td class="data">
                {{{agency}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#salesrep__view}}{{id}}{{/salesrep__view}}">
                {{{salesrep_label}}}</label></th>
            <td class="data">
                {{{salesrep_name}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#actmgr__view}}{{id}}{{/actmgr__view}}">
                {{{actmgr_label}}}</label></th>
            <td class="data">
                {{{actmgr_name}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#status__view}}{{id}}{{/status__view}}">
                {{{status_label}}}</label></th>
            <td class="data">
                {{{status}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#currency__view}}{{id}}{{/currency__view}}">
                {{{currency_label}}}</label></th>
            <td class="data">
                {{{currency}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#timezone__view}}{{id}}{{/timezone__view}}">
                {{{timezone_label}}}</label></th>
            <td class="data">
                {{{timezone}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#demo_link__view}}{{id}}{{/demo_link__view}}">
                {{{demo_link_label}}}</label></th>
            <td class="data">
                {{{demo_link}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#third_party_billing__view}}{{id}}{{/third_party_billing__view}}">
                {{{third_party_billing_label}}}</label></th>
            <td class="data">
                {{{third_party_billing}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#created__view}}{{id}}{{/created__view}}">
                {{{created_label}}}</label></th>
            <td class="data">
                {{{created}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#updated__view}}{{id}}{{/updated__view}}">
                {{{updated_label}}}</label></th>
            <td class="data">
                {{{updated}}}
            </td>
        </tr>
        <!-- <tr class="spacer"><td colspan="2"><hr /></td></tr> -->

    </tbody>
</table>
