/**
* Copyright 2011 Facebook, Inc.
*
* You are hereby granted a non-exclusive, worldwide, royalty-free license to
* use, copy, modify, and distribute this software in source code or binary
* form for use in connection with the web services and APIs provided by
* Facebook.
*
* As with any software that integrates with the Facebook platform, your use
* of this software is subject to the Facebook Developer Principles and
* Policies [http://developers.facebook.com/policy/]. This copyright notice
* shall be included in all copies or substantial portions of the software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
* DEALINGS IN THE SOFTWARE.
*
*
*/

.campEditor {
    border-top: 1px solid #999;
    overflow: auto;
}

.campEditor-date,
.campEditor-time {
    width: 75px;
    display: inline-block;
    vertical-align: inherit;
}

.campEditor-timezone {
    width: 400px;
    display: inline-block;
    vertical-align: inherit;
}

.campEditor-name {
  margin: 0;
}

.campEditor-date .ufb-typeahead-view {
    width: 170px;
}

.campEditor .data {
    vertical-align: middle;
}

.campEditor_hide-io .campEditor-io {
    display: none;
}

.campEditor-num {
    margin: 0;
    width: 68px;
}

.campEditor-price {
    margin: -5px 0 0 15px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.campEditor-impslabel {
    margin-left: 10px;
    width: 30px;
    display: inline-block;
}

.campEditor-imps {
    margin: -5px 0 0 2px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.campEditor-camplink {
    margin-left: 20px;
    width: 200px;
    display: inline-block;
    text-align: left;
    z-index: 201
}

.campEditor_hide-campType {
    display: none;
}
