<table class="uiInfoTable">
    <tbody>

        <tr class='dataRow'>
            <td colspan="2">
                {{{camp_errors}}}
            </td>
        </tr>

        <tr class="dataRow">
            <th class="label">
              <label for="{{#name_input__view}}{{id}}{{/name_input__view}}">
                {{{name_label}}}</label></th>
            <td class="data">
                {{{name_input}}} {{{camp_link}}}
            </td>
        </tr>
        <tr class="spacer"><td colspan="2"><hr /></td></tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#budget_sum__view}}{{id}}{{/budget_sum__view}}">
                {{{budget_label}}}</label></th>
            <td class="data">
                {{{budget_sum}}} {{{budget_type}}} {{{campaign_type}}}  {{{imps_label}}} {{{budget_ui_imps}}} {{{cpm_price}}}
            </td>
        </tr>

        <tr class="dataRow">
            <th class="label">
              <label for="{{#from_date__view}}{{id}}{{/from_date__view}}">
              {{{schedule_label}}}</label></th>
            <td class="data">
                {{{from_date}}} {{at_txt}} {{{from_time}}} {{{tz_name_from}}}
            </td>
        </tr>
        <tr>
            <th></th>
            <td class="data">
                {{{to_date}}} {{at_txt}} {{{to_time}}} {{{tz_name_to}}}
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                {{{run_continuously}}}
            </td>
        </tr>
        <tr class="spacer"><td colspan="2"><hr /></td></tr>
        <tr class="dataRow">
            <th class="label">
              <label for="{{#status__view}}{{id}}{{/status__view}}">
                {{{status_label}}}</label></th>
            <td class="data">
                {{{status}}}
            </td>
        </tr>

        {{#INTERN}}
        <tr class="dataRow campEditor-io">
          <th class="label">
            <label for="{{#line_number}}{{id}}{{/line_number}}">
            {{{line_number_label}}}</label></th>
          <td class="data">{{{line_number}}}</td>
        </tr>
        <tr class="dataRow campEditor-io">
          <th class="label">
            <label for="{{#inflation}}{{id}}{{/inflation}}">
            {{{inflation_label}}}</label></th>
          <td class="data">{{{inflation}}}</td>
        </tr>
        {{/INTERN}}
    </tbody>
</table>