/**
* Copyright 2011 Facebook, Inc.
*
* You are hereby granted a non-exclusive, worldwide, royalty-free license to
* use, copy, modify, and distribute this software in source code or binary
* form for use in connection with the web services and APIs provided by
* Facebook.
*
* As with any software that integrates with the Facebook platform, your use
* of this software is subject to the Facebook Developer Principles and
* Policies [http://developers.facebook.com/policy/]. This copyright notice
* shall be included in all copies or substantial portions of the software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
* DEALINGS IN THE SOFTWARE.
*
*
*/


.interests-bct-hidden {
  display: none;
  visibility: hidden;
}

.interests-bct-visible {
  display: block;
  visibility: visible;
}

.interests-bct-main {
}

.interests-bct-header {
  color: #000000;
  font-weight: bold;
  font-size: 10px;
}

.interests-bct-parent-category {
  padding: 4px 4px 4px 4px;
  color: #000000;
  font-size: 10px;
  cursor: default;
}

.interests-bct-parent-category-selected {
  background-color: #d8dfea;
}

.interest-bct-arrow {
  background: transparent url(./grayarrow_right_t.gif) no-repeat;
  float: right;
  margin: 3px;
  padding: 5px;
}

.interests-bct-cluster-text-unselected {
  padding: 4px 4px 4px 4px;
  color: #000000;
  font-size: 10px;
}

.interests-bct-cluster-text-unselected:hover {
  padding: 4px 4px 4px 4px;
  color: #000000;
  background-color: #d8dfea;
  font-size: 10px;
}

.interests-bct-cluster-text-selected {
  padding: 4px 4px 4px 4px;
  color: #000000;
  background-color: #d8dfea;
  font-size: 10px;
}

.interests-bct-td {
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color:#d8dfea;
}

.interests-bct-left {
  vertical-align: top;
  width: 180px;
}

.interests-bct-right {
  vertical-align: top;
  height: 220px;
  width: 240px;
  overflow: auto;
}


