<table class="uiInfoTable">
    <tbody>
        <tr class="dataRow">
            <th class="label labelText"><label for="advDem-birthday">{{{birthday_label}}}:</label></th>
            <td class="data">
                {{{birthday}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label labelText"><label for="{{#interested__view}}{{id}}{{/interested__view}}">{{{interested_label}}}:</label></th>
            <td class="data">
                {{{interested}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label labelText"><label for="{{#relationship__view}}{{id}}{{/relationship__view}}">{{{relationship_label}}}:</label></th>
            <td class="data">
                {{{relationship}}}
            </td>
        </tr>
        <tr class="dataRow">
            <th class="label"><label for="{{#langs__view}}{{id}}{{/langs__view}}">{{{langs_label}}}:</label></th>
            <td class="data">
                {{{langs}}}
            </td>
        </tr>
    </tbody>
</table>